version: "3.3"
services:
  livescoreboard_app:
    container_name: livescoreboard_app
    hostname: livescoreboard_app
    image: livescoreboard_app
    build:
      context: .
      dockerfile: ./Dockerfile
    deploy:
      mode: replicated
      replicas: 3
    ports:
      - "5000:5000"
    environment:
      - CTFd_TOKEN=TOKEN
      - start_date=2000-01-01 00:00:00
      - finish_date=2000-01-01 00:00:00
      - CTF_TITLE=TitleCTF
      - admin_token=admin_token_to_change
      - DOMAIN=localhost
      - PORT=5000
      - CLIENT_URL=http://localhost:5173
      - HTTPS=false
      - VITE_SUPABASE_URL=${VITE_SUPABASE_URL}
      - SUPABASE_SERVICE_ROLE_KEY=${SUPABASE_SERVICE_ROLE_KEY}
    volumes:
      - ./server/activity.log:/app/server/activity.log
      - ./.env:/app/.env     
